<section class="flex w-screen h-screen flex-shrink-1">
  <div class="bg-[url('assets/img/men.jpg')] bg-cover flex-1 relative ">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <button  [routerLink]="['/products']" class="bg-white px-8 py-4 rounded-lg shadow-lg hover:bg-gray-200"> Hommes </button>
    </div>
  </div >
  <div class="bg-[url('assets/img/children.jpg')] bg-cover flex-1 relative ">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <button [routerLink]="['/products']" class="bg-white px-8 py-4 rounded-lg shadow-lg hover:bg-gray-200"> Enfants </button>
    </div>
  </div>
  <div class="bg-[url('assets/img/women.jpg')] bg-cover flex-1 relative ">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
      <button [routerLink]="['/products']" class="bg-white px-8 py-4 rounded-lg shadow-lg hover:bg-gray-200"> Femmes </button>
    </div>
  </div>
</section>